<%- include ('../user/partials/header') %>

  <!-- Hero Area Start-->
  <div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap text-center">
              <h2>Checkout</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--================Checkout Area =================-->
  <section class="checkout_area section_gap">
    <div class="container">
      <div class="cupon_area">
        <div class="check_title">
          
                <!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div> -->
             


        </div>
        <!-- <input style="background-color:   rgb(232, 236, 236);    margin-left: 0px;" type="text"
          placeholder="Enter coupon code">
        <a class="btn btn-secondary " href="#">Apply Coupon</a> -->
      </div>
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8 pb-2">
            <h3>Billing Details</h3>
            <button type="button" class="btn btn-secondary " data-toggle="modal" data-target="#exampleModal">Add
              Address!</button>
              <p>Select your address</p>
            <form id="checkout-form">
              <input type="text" name="Id" value="<%= usr._id %>" hidden>
              <% if(addd) {%>
                <% for(i=0;i<addd.address.length;i++){ %>
                  <div class="form-check form-check-inline pt-4 pb-2 pl-4">
                    <% if(addd.address[i].status){ %>
                      <input class="form-check-input" type="radio" name="address" id="inlineRadio1"
                        value="<%= addd.address[i]._id %> " checked />
                      <label class="form-check-label" for="inlineRadio1">Address </label>
                      <p class="card-text">
                        <%= addd.address[i].name %> <br>
                          <%= addd.address[i].mob %> <br>, <%= addd.address[i].landmark %> <br> Pin : <%=
                                addd.address[i].pincode %> <br> State :<%= addd.address[i].state %>
                      </p>
                      <% }else{ %>


                        <p class="card-text  "><input class="form-check-input" type="radio" name="address"
                            id="inlineRadio1" value="<%= addd.address[i]._id %> " />
                          <label class="form-check-label" for="inlineRadio1"
                            style="font-weight: bolder; color: black; font-size: large;"> Address <%= i+1 %></label>
                          <br>
                          Name : <%= addd.address[i].name %> <br>
                            Mobile : <%= addd.address[i].mob %> <br>
                              House Name : <%= addd.address[i].house %><br>
                                Landmark : <%= addd.address[i].landmark %> <br>
                                  Pin : <%= addd.address[i].pincode %> <br>
                                    State :<%= addd.address[i].state %>
                        </p>
                        <% } %>
                  </div>
                  <% } %>
                    <% } %>
                      <div class="payment_item active pt-2 pb-2">
                        <p>Select payment method</p>
                        <div class="radion_btn">
                          <input type="radio" id="f-option6" value="OP" name="payment-method" required>
                          <label for="f-option6">PayPal</label>
                          <img src="img/product/card.jpg" alt="">
                          <div class="check"></div>
                        </div>
                        <p>Pay via Paypal, you can pay with Cash On Delivery if you don’t have a UPI
                          account.</p>
                      </div>
                      <div class="payment_item">
                        <div class="radion_btn">
                          <input type="radio" id="f-option5" value="COD" name="payment-method" required>
                          <label for="f-option5">COD</label>
                          <div class="check"></div>
                        </div>
                        <p>Cash On Delivery, You can pay after get product
                        </p>
                      </div>
                      <input type="submit" class="btn btn-secondary " value="Proceed">
            </form>

          </div>
          <div class="col-lg-4">
            <div class="order_box">
              <h2>Your Order</h2>
              <ul class="list">
                <li><a href="#">Product <span>Total</span></a></li>

                <!-- <li><a href="#"><span class="middle">$720.00</span></a></li> -->


              </ul>
              <ul class="list list_2">
                <li><a href="#">Subtotal <span>₹<%= usr.cart.totalPrice %></span></a></li>
                <li><a href="#">Shipping <span>Flat rate: ₹0.00</span></a></li>
                <li><a href="#">Total <span>₹<%= usr.cart.totalPrice %> </span></a></li>
              </ul>
              <div class="creat_account">
                <input type="checkbox" id="f-option4" name="selector">
                <label for="f-option4">I’ve read and accept the </label>
                <a href="#">terms & conditions*</a>
              </div>
              <!-- <a class="primary-btn" href="#">Proceed to Paypal</a> -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="card  mb-md-0">
                  <div class="card-body">
                    <form id="address-forms">
                      <p class="mb-4"><span class="text-primary font-italic me-1">Address</span> 1.
                      </p>
                      <!-- 2 column grid layout with text inputs for the first and last names -->
                      <div class="row mb-4">
                        <div class="col">
                          <div class="form-outline">
                            <input type="text" name="name" id="form7Example1" class="form-control" />
                            <label class="form-label" for="form7Example1">Name</label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-outline">
                            <input type="number" name="mob" id="form7Example2" class="form-control" />
                            <label class="form-label" for="form7Example2">Mobile</label>
                          </div>
                        </div>
                      </div>

                      <!-- Text input -->
                      <div class="form-outline mb-4">
                        <input type="text" name="house" id="form7Example3" class="form-control" />
                        <label class="form-label" for="form7Example3">House name</label>
                      </div>

                      <!-- Text input -->
                      <div class="form-outline mb-4">
                        <input type="text" name="landmark" id="form7Example4" class="form-control" />
                        <label class="form-label" for="form7Example4">Landmark</label>
                      </div>

                      <!-- Email input -->
                      <div class="form-outline mb-4">
                        <input type="text" name="city" id="form7Example5" class="form-control" />
                        <label class="form-label" for="form7Example5">City</label>
                      </div>

                      <!-- Number input -->
                      <div class="form-outline mb-4">
                        <input type="text" name="district" id="form7Example6" class="form-control" />
                        <label class="form-label" for="form7Example6">District</label>
                      </div>

                      <div class="form-outline mb-4">
                        <input type="text" name="state" id="form7Example6" class="form-control" />
                        <label class="form-label" for="form7Example6">State</label>
                      </div>

                      <div class="form-outline mb-4">
                        <input type="number" name="pincode" id="form7Example6" class="form-control" />
                        <label class="form-label" for="form7Example6">Pincode</label>

                      </div>
                      <input type="submit" class="btn btn-dark" value="Submit">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">Close</button>

          </div>
        </div>
      </div>
    </div>

  </section>
  <!--================End Checkout Area =================-->
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>
  <script>

    $("#address-forms").submit((e) => {
      console.log('keriiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii');
      e.preventDefault()
      $.ajax({
        url: '/address',
        method: 'post',
        dataType: "json",
        encode: true,
        data: $("#address-forms").serialize(),
        success: ((response) => {
          console.log(response);
          if (response.status) {
            console.log('hiiiiiiiiiiiiiiiiiiiiiii');
            location.reload()
          }
        })
      })
    })

    $("#checkout-form").submit((e) => {
      console.log('vannuuuuuuuuuuu');
      console.log($('#checkout-form').serialize(),"koihg");
      e.preventDefault()
      $.ajax({
        url: '/order',
        method: 'post',
        data: $('#checkout-form').serialize(),
        success: (response) => {
          location.href='/successPage'
        }
      })
    })
  </script>
  <%- include('../user/partials/footer.ejs') %>