<%- include ('../user/partials/header') %>
  <style>
    .colored-toast.swal2-icon-error {
      background-color: #f27474 !important;
    }
  </style>
  <section style="background-color: rgb(178, 165, 200);">
    <div class="container py-5">
      <div class="row">
        <div class="col ">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4 d-flex justify-content-between">
            <ol class="breadcrumb mb-0">
              <!-- <li class="breadcrumb-item "><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">User</a></li> -->
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
            <ol class="breadcrumb mb-0">
              <li><a href="/logout" class="text-danger ">Logout</a></li>
            </ol>
          </nav>
        </div>

      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">
                <%= users.name %>
              </h5>
              <!-- <p class="text-muted mb-1">Full Stack Developer</p>
                        <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-primary">Follow</button>
                            <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                        </div> -->
              <div class="d-flex justify-content-center mb-2">
                <a href="/orderList"> <button type="button" class="btn btn-primary">ORDERS</button> </a>
                <button data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-primary btn-primary ms-1">ADD
                  ADDRESS</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-8">
                  <p class="text-muted mb-0">
                    <%= users.name %>
                  </p>
                </div>
                <div class="col-sm-1"><button data-toggle="modal" data-target="#edituser" style="border: none; color: #5f5d5d;"> <i class="fa-regular fa-pen-to-square " ></i></button></div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    <%=users.email %>
                  </p>
                </div>
              </div>
              <hr>
              <!-- <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(097) 234-5678</p>
                            </div>
                        </div>
                        <hr> -->
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    <%=users.mobileNumber%>
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <% if(add==null||add.address.length<=0){ %>
                    <p class="text-muted mb-0 text-danger">Address is not added </p>
                    <% }else{%>
                      <p class="text-muted mb-0 text-danger">
                        <%= add.address[0].house %>,
                          <%= add.address[0].landmark %><br>
                            <%= add.address[0].city %>,
                              <%= add.address[0].district %><br>
                                <%= add.address[0].state %>,
                                  <%= add.address[0].pincode %><br>
                      </p>
                      <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row container">

          <% if(add) {%>
            <% add.address.forEach((el,i)=>{%>
              <div class="col-lg-4">
                <div class="card mb-4 mb-md-0">
                  <div class="card-body text-center">


                    <button class="btn btn-primary " type="button" data-toggle="collapse"
                      data-target="#collapseExample<%= el._id %>" aria-expanded="false" aria-controls="collapseExample">
                      Address <%= i+1 %>
                    </button>
                    </p>

                    <div class="collapse row" id="collapseExample<%= el._id %>">
                      <div class="col-sm-12 ">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title"></h5>
                            <!-- <h6 class="card-subtitle mt-3 mb-2 text-muted">Default Address</h6> -->
                            <p class="card-text">
                              <%= el.name %> <br>
                                <%= el.mob %> <br>
                                  House : <%= el.house %><br> Land Mark : <%= el.landmark %> <br> Pin : <%= el.pincode
                                        %> <br> State :<%=el.state %>
                            </p>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#edit<%= el._id %>">Edit</button>
                            <button class="btn btn-primary"
                              onclick="deleteAddress('<%= el._id %>','<%= users._id %>') ">Delete</button>
                            <!-- <a href="#" class="card-link">Another link</a> -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--Edit Modal -->
                    <div class="modal fade" id="edit<%= el._id %>" tabindex="-1" role="dialog"
                      aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Address</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form action="/editAddress/<%= el._id %>" method="post">

                              <p class="mb-4"><span class="text-primary font-italic me-1">Address</span> .
                              </p>
                              <!-- 2 column grid layout with text inputs for the first and last names -->
                              <div class="row mb-4">
                                <div class="col">
                                  <div class="form-outline">
                                    <input type="text" name="name" value="<%= el.name %>" id="form7Example1"
                                      class="form-control InputFieldID" />
                                    <label class="form-label" for="form7Example1">Name</label>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="form-outline">
                                    <input type="number" name="mob" value="<%= el.mob %>" id="form7Example2"
                                      class="form-control InputFieldID" />
                                    <label class="form-label" for="form7Example2">Mobile</label>
                                  </div>
                                </div>
                              </div>

                              <!-- Text input -->
                              <div class="form-outline mb-4">
                                <input type="text" value="<%= el.house %>" name="house" id="form7Example3"
                                  class="form-control InputFieldID" />
                                <label class="form-label" for="form7Example3">House name</label>
                              </div>

                              <!-- Text input -->
                              <div class="form-outline mb-4">
                                <input type="text" name="landmark" value="<%= el.landmark %>" id="form7Example4"
                                  class="form-control InputFieldID" />
                                <label class="form-label" for="form7Example4">Landmark</label>
                              </div>

                              <!-- Email input -->
                              <div class="form-outline mb-4">
                                <input type="text" name="city" id="form7Example5" value="<%= el.city %>"
                                  class="form-control InputFieldID" />
                                <label class="form-label" for="form7Example5">City</label>
                              </div>

                              <!-- Number input -->
                              <div class="form-outline mb-4">
                                <input type="text" name="district" value="<%= el.district %>" id="form7Example6"
                                  class="form-control InputFieldID" />
                                <label class="form-label" for="form7Example6">District</label>
                              </div>

                              <div class="form-outline mb-4">
                                <input type="text" name="state" value="<%= el.state %>" id="form7Example6"
                                  class="form-control InputFieldID" />
                                <label class="form-label" for="form7Example6">State</label>
                              </div>

                              <div class="form-outline mb-4">
                                <input placeholder="45" type="number" value="<%= el.pincode %>" name="pincode"
                                  id="form7Example6" class="form-control InputFieldID" />
                                <label class="form-label" for="form7Example6">Pincode</label>
                                <input type="text" name="userId" value="<%= users._id %>" hidden>
                              </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-dark" value="Submit">
                          </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% }) %>
                <%}else{ %>
                  <% } %>
        </div>
  </section>

  <!-- edit name modal -->

  <div class="modal fade" id="edituser" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Name</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="editname-form">
            <input type="text" value="<%= users._id%>" hidden name="userId" id="userId">
            <div class="row mb-4">
                <div class="form-outline d-flex justify-content-center px-5">
                  <input type="text" name="name" value="<%=users.name%>" id="editName"
                    class="form-control InputFieldID" />
                    <!-- <label class="form-label" for="form7Example1">Name</label> -->
                  </div>
                </div>
                <div class="modal-footer">
                  
                  <input type="submit" class="btn btn-dark"  value="Submit">
                </div>
              </form>
              <button type="button" class="btn btn-secondary" style="visibility: hidden;" data-dismiss="modal">Close</button>
              </div>

      </div>
    </div>
  </div> 
  <!-- const doc = await this.save()
cb(doc)
editAdd(upAd,addId,(doc)=>{
  res.redirect('/oprofile')
}) -->
  <!-- modalAddAddress -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="card  mb-md-0">
                <div class="card-body">
                  <form id="add-form">
                    <p class="mb-4"><span class="text-primary font-italic me-1">Address</span> 1.
                    </p>
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" name="name" id="form7Example1" class="form-control" />
                          <label class="form-label" for="form7Example1">Name</label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="number" name="mob" id="form7Example2" class="form-control" />
                          <label class="form-label" for="form7Example2">Mobile</label>
                        </div>
                      </div>
                    </div>

                    <!-- Text input -->
                    <div class="form-outline mb-4">
                      <input type="text" name="house" id="form7Example3" class="form-control" />
                      <label class="form-label" for="form7Example3">House name</label>
                    </div>

                    <!-- Text input -->
                    <div class="form-outline mb-4">
                      <input type="text" name="landmark" id="form7Example4" class="form-control" />
                      <label class="form-label" for="form7Example4">Landmark</label>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <input type="text" name="city" id="form7Example5" class="form-control" />
                      <label class="form-label" for="form7Example5">City</label>
                    </div>

                    <!-- Number input -->
                    <div class="form-outline mb-4">
                      <input type="text" name="district" id="form7Example6" class="form-control" />
                      <label class="form-label" for="form7Example6">District</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="text" name="state" id="form7Example6" class="form-control" />
                      <label class="form-label" for="form7Example6">State</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="number" name="pincode" id="form7Example6" class="form-control" />
                      <label class="form-label" for="form7Example6">Pincode</label>

                    </div>
                    <input type="submit" class="btn btn-dark" value="Submit">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="close" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>
    
  <script>
    
    $("#editname-form").submit((e) => {
     
     console.log('rrrrrrrrr',$('#editname-form').serialize())
     const userId = document.getElementById('userId').value
     const editName =  document.getElementById('editName').value
     console.log(userId,editName,'hu');
     e.preventDefault()
     $.ajax({
       url: '/editName',
       method: 'post',
       data:$('#editname-form').serialize() ,
       dataType:'json',
       encoded:true,
       success:  (response) => {
         console.log(response);
        
         if (response.status) {
         
           location.href = '/profile'
         } else {
           console.log('errorrrrrrrrrrrr')
         }
       }
     })
   })
    function deleteAddress(adId,userid){
      console.log(adId,userid,'swaaaaaaalll');
      Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
    $.ajax({
      url:`/deleteAddress?addId=${adId}&userId=${userid}`,
      method:'delete',
      success:((response)=>{
        if (response.status) {
           Swal.fire(
      'Deleted!',
      'Your file has been deleted.',
      'success'
    )
    setTimeout(()=>location.reload(),2000)
        }
      })

    })
   
  }
})
    }



    $("#add-form").submit((e) => {
     
      console.log('sssgsgss')
      e.preventDefault()
      $.ajax({
        url: '/address',
        method: 'post',
        dataType: 'json',
        encode: true,
        data: $('#add-form').serialize(),
        success: (async (response) => {
          console.log(response);
         
          if (response.status) {
          
            location.href = '/profile'
          } else {
            const Toast = Swal.mixin({
              toast: true,
              position: 'top-right',
              iconColor: 'white',
              customClass: {
                popup: 'colored-toast'
              },
              showConfirmButton: false,
              timer: 1500,
              timerProgressBar: true
            })
            document.getElementById("close").click();
            await Toast.fire({
              icon: 'error',
              title: 'Only 3 address can add'
            })
            
            console.log('errorrrrrrrrrrrr')
          }
        })
      })
    })
  </script>

  <%- include('../user/partials/footer') %>